$darkblue: #0063BA;
$lightblue: #0095ED;
$purple: #6950A1;
$green: #44B659;


.landing-page {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
  height: 100%;

  // .dark-blue {
  //   background: $darkdarkblue;
  // }
  // .light-blue {
  //   background: $lightblue;
  // }
  // .purple {
  //   background: $darkdarkblue;
  // }
  // .green {
  //   background: $purple;
  // }
  // .landing-nav {
  //   background: $green;
  // }
  .landing-nav {
    background-color: $darkblue;
    transition: background-color 0.8s;
  }
  .landing-main {
    background-color: $darkblue;
    transition: background-color 0.8s;
    display: flex;
    flex-direction: column;
    height: 100%;

    .silder-div {
      width: 100%;
      height: 100%;
    }
  }
  .landing-footer {
  }
}

.landing-nav {
  // font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .08);

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 95px;
    width: 940px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 19px;
    margin-right: auto;
    margin-left: auto;
  }
}

.logo {
  background-image: url('/remember_the_bacon.png');
  background-repeat: no-repeat;
  background-size: 179px auto;
  min-width: 179px;
  min-height: 83px;
  margin: 12px 0 0 2px;
  z-index: 2;
}
.colored-logo {
  background-image: url('/remember_the_bacon_colored.png');
  background-repeat: no-repeat;
  background-size: 179px auto;
  min-width: 179px;
  min-height: 83px;
  margin: 0px 0px 0px 8px;
  z-index: 2;
}

.landing-nav-ul {
  display: flex;
  flex-direction: row;
  height: 33px;
  margin-top: 45px;

  .link-nav {
    color: #fff;
    padding: 5px 18px;
    border-radius: 5px;
    opacity: .8;
    line-height: 22px;
    font-size: 15px;
  }

  .link-nav:hover {
    color: #fff;
    opacity: 1;
  }

  .sign-up {
    border: 2px solid;
    margin-top: -1px;
    margin-left: 23px;
    padding: 7px 12px;
  }
}

.quote-signup-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 214px;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;

  h1 {
    margin: 70px 0 31px 0;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
  }

  a {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 11px 37px 12px;
    line-height: 1.2;
    width: 200px;
    border-radius: 4px;
    background-color: #d24b03;
    color: #fff;
    font-size: 21px;
  }

  a:hover {
    background-color: #ca492e;
  }
}

.landing-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
  font-size: 12px;

  a {
    color: #0064BA;
  }

  p {
    margin: 5px 0px;
  }
}
