$search-color: #417CE1;
$nav-bar-color: #0064BA;
$list-nav-color: #D4E8F4;
$list-hover-color: #B7D1ED;
$light-gray: #c1c1c1;

.main-page-nav {
  background: $nav-bar-color;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;

  .menu-icon-div {
    height: 30px;
    width: 36px;
    margin: 5px 5px 5px 11px;
    border-radius: 3px;
    box-sizing: border-box;

    i {
      color: white;
      font-size: 24px;
      padding: 3px 0px 0px 6px;
      opacity: 0.8;
      cursor: pointer;
    }
  }

  .menu-icon-div:hover {
    background: rgba(0,0,0,0.15);
  }

  form {
    position: absolute;
    left: 210px;
    background-color: $search-color;
    width: 280px;
    // height: 30px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: auto;

    transition: background-color 0.2s;

    .search-icon {
      position: absolute;
      color: white;
      font-size: 24px;
      padding: 3px 0px 0px 6px;
      opacity: 0.8;
      user-select: none;
    }

    .task-search {
      height: 30px;
      padding-left: 33px;
      padding-right: 24px;
      font-size: 0.875rem;
      width: 280px;
      min-width: 120px;
    }

    input:focus{
      outline: none;
    }
  }

  form:focus {
    background: #3383C8;
  }

  .logout-div {
    display: flex;
    flex-direction: row;

    .settings-icon {
      color: white;
      padding: 7px 0px 0px;
    }

    .logout-button {
      background-color: rgba(0, 96, 191, 0.1);
      color: white;
      // opacity: 0.8;
      cursor: pointer;
      border-radius: 3px;
    }

    .logout-button:hover {
      opacity: 1;
    }
  }
}

.main-page-main {
  display: flex;
  flex-direction: row;
  background: $list-nav-color;
  width: 100%;
  height: 100vh;
  min-height: 750px;

  // list_index.scss
  .side-lists-nav {
    width: 200px;
  }

  > div {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .tasks-nav-section {
    position: relative;
    background: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 50%;
    z-index: 1;
    top: 9px;
  }

  // list_detail.scss
}
