.main-page-nav {
  background: #0056B7;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;

  .menu-icon-div {
    height: 30px;
    width: 36px;
    margin: 5px 5px 5px 11px;
    border-radius: 3px;
    box-sizing: border-box;

    i {
      color: white;
      font-size: 24px;
      padding: 3px 0px 0px 6px;
      opacity: 0.8;
      cursor: pointer;
    }
  }

  .menu-icon-div:hover {
    background: rgba(0,0,0,0.15);
  }

  form {
    position: absolute;
    left: 210px;
    background: #3378C5;
    width: 280px;
    // height: 30px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: auto;

    i {
      position: absolute;
      color: white;
      font-size: 24px;
      padding: 3px 0px 0px 6px;
      opacity: 0.8;
      user-select: none;
    }

    input[type=search] {
      height: 30px;
      padding-left: 33px;
      padding-right: 24px;
      font-size: 0.875rem;
      max-width: 237px;
      min-width: 120px;
    }

    input:focus{
      outline: none;
    }
  }

  input[type=button] {
    background-color: rgba(0, 96, 191, 0.1);
    color: white;
    opacity: 0.8;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 3px;
  }

  input[type=button]:hover {
    opacity: 1;
  }
}

.main-page-main {
  display: flex;
  flex-direction: row;
  background: #D4E8F4;
  width: 100%;
  height: calc(100vh - 40px);

  .side-lists-nav {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 100%;

    a {
      margin-left: 9px;
    }

    ul {
      font-size: 13px;
      margin-left: 15px;
      margin-right: 4px;
      padding-top: 8px;
      padding-bottom: 8px;

      li {
        display: flex;
        flex-direction: row;
        i {
          padding: 3px 0px;
        }
        p {
          padding: 5px 0px;
        }
      }

      li:hover {
        background: #B7D1ED;
        opacity: 0.8;
        cursor: pointer;
      }
    }

    i {
      padding: 0px 2px;
      font-size: 13px;
    }
  }

  .tasks-list-section {
    background: white;
    width: 849px;
    z-index: 1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative;
    top: 9px;
  }
}
