
$nav-bar-color: #0064BA;
$list-nav-color: #D4E8F4;
$list-hover-color: #B7D1ED;
$light-gray: #c1c1c1;

.main-page-div {
  display: flex;
  flex-direction: column;
  min-height: 600px;
}

.main-page-nav {
  background: $nav-bar-color;
  width: 100%;
  min-height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;

  .menu-icon-div.extend {
    width: 84px;
  }
  .menu-icon-div {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 36px;
    margin: 5px 5px 5px 11px;
    border-radius: 3px;
    box-sizing: border-box;
    color: white;
    user-select: none;
    overflow: hidden;
    cursor: pointer;

    transition: width 0.5s;

    .menu-icon {
      font-size: 24px;
      padding: 3px 0px 0px 6px;
      opacity: 0.8;
    }
    .menu-text {
      box-sizing: border-box;
      overflow: hidden;
      // text-overflow: ellipsis;
      width: auto;
      height: 30px;
      font-size: .8125rem;
      letter-spacing: .8px;
      line-height: 31px;
      white-space: nowrap;
      padding: 0px 10px 0px 10px;
    }
  }

  .menu-icon-div:hover {
    background: rgba(0,0,0,0.15);
  }

  // task_search.scss

  .logout-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    user-select: none;

    .linkedin-button:hover,
    .github-button:hover,
    .setting-button:hover {
      background: #00549E;
      // TODO: javascript on hover change icon opacity
      // opacity: 1;
    }

    .linkedin-button, .github-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 2px;
      height: 30px;
      width: 36px;
      border-radius: 3px;
      margin-right: 5px;
    }
    .setting-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 2px;
      height: 30px;
      width: 46px;
      border-radius: 3px;
      cursor: pointer;
    }

    .linkedin-icon {
      height: 24px;
      width: 24px;
      color: white;
      opacity: 0.7;
    }

    .github-icon {
      height: 24px;
      width: 24px;
      color: white;
      opacity: 0.7;
    }

    .settings-icon {
      color: white;
      font-size: 24px;
      opacity: 0.7;
    }

    .arrow-drop-down {
      color: white;
      font-size: 18px;
      margin: 0px 0px 0px -5px;
      opacity: 0.7;
    }
  }
}

.main-page-main {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-y: hidden;
  background: $list-nav-color;
  width: 100%;
  // height: calc(100vh - 40px);
  // min-height: 750px;
  border-top: 9px solid $list-nav-color;

  // list_index.scss
  .side-lists-nav.extend {
    top: -350px;
  }
  .side-lists-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 210px;

    transition: top 0.5s;
  }

  > div {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .tasks-nav-section {
    position: relative;
    background: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 50%;
    z-index: 1;
    top: 0px;
  }
  .task-list-details-section.extend {
    margin: 0px 0px 0px 0px;
  }
  .task-list-details-section {
    margin: 0px 0px 0px 210px;
    z-index: 2;

    transition: margin 0.5s;
  }
  // list_detail.scss
}

.confirm-delete-list-div {
  position: absolute;
  top: calc(50% - 220px);
  left: 50%;
  margin-left: -220px;
  width: 360px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid $light-gray;
  padding: 40px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);


  .cofirm-delete-list-form {
    // display: none;
    display: flex;
    flex-direction: column;

    h1 {
      font-weight: 400;
      font-size: 18px;
      margin: 0px 0px 20px 0px;
    }

    p {
      font-size: 14px;
    }

    ul {
      display: flex;
      flex-direction: row;

      input {
        height: 32px;
        text-shadow: 0 1px 0 rgba(0,0,0,0.08);
        border-radius: 3px;
        font-weight: bold;
        font-size: .875rem;
        border: 1px solid $light-gray;
        padding: 0px 13px;
      }

      input:focus {
        outline: none;
        border: 1px solid #2e8ceb;
      }

      input[type='submit'] {
        background: #2881E8;
        margin: 20px 5px 0px 0px;
        border: none;
        color: white;
      }

      input[type='submit']:focus {
        outline: none;
        border: 1px solid white;
      }

      input[type='button'] {
        margin: 20px 0px 0px 5px;
      }
    }
  }
}

.settings-drop-down.hidden {
  display: none;
}
.settings-drop-down {
  position: absolute;
  width: 180px;
  top: 40px;
  right: 9px;
  border-radius: 3px;
  box-shadow: 0 1px 4px 1px rgba(0,0,0,0.2);
  background: white;
  z-index: 3;
  padding: 8px 0px;
  font-size: 14px;

  .user-session, .user-info {
    // padding: 5px 0px;
  }

  .user-info {
    padding: 0px 15px 10px 15px;
    border-bottom: 1px solid $light-gray;
    user-select: none;

    p {
      margin: 5px 0px;
    }

    span {
      font-weight: bold;
    }
  }

  .user-session {
    // border-bottom: 1px solid $light-gray;

    .user-logout-button:hover {
      background-color: $list-nav-color;
    }
    .user-logout-button:focus {
      outline: none;
    }
    .user-logout-button {
      font-size: 14px;
      width: 100%;
      text-align: left;
      padding: 5px 15px;
    }
  }
}
