$very-light-grey: #EEEEEE;
$light-grey: #c1c1c1;
$button-grey: #6D6D6D;
$list-nav-color: #D4E8F4;
$yellow: #FFFED1;
$dark-grey: #666660;

.task-nav-div {
  display: flex;
  flex-direction: column;
  position: relative;

  .tab-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50px;
    padding-right: 20px;
    border-bottom: 1px dotted $very-light-grey;

    .task-tab {
      position: relative;
      top: 1px;
      font-size: 13px;
      color: #0063BA;
      align-self: flex-end;
      padding: 6px 12px 6px 12px;
      cursor: pointer;
    }
    .task-tab.selected {
      font-weight: bold;
      color: black;
      border: 1px dotted $very-light-grey;
      border-bottom: 1px solid white;
    }
  }

}

// TODO: fix task index overflow problem
// .tasks-index-div {
//   height: 100%;
//   width: 100%;
//   // position: relative;
//   display: flex;
//   flex-flow: column;
//   .task-index {
//     height: 100%;
//     overflow-y: auto;
//     // top: 113px;
//     // top: 0px;
//     // position: absolute;
//   }
// }

.task-tool-bar {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 50px;

  .task-option:hover {
    color: black;
  }
  .task-option-on-click {
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.25);
  }
  .task-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid $light-grey;
    border-radius: 3px;
    line-height: 30px;
    margin: 10px 17px;
    padding: 0px 3px 0px 5px;
    user-select: none;
    cursor: pointer;

    i {
      color: $button-grey
    }
    .more-horiz {
      font-size: 29px;
    }
    .arrow-drop-down {
      font-size: 22px;
      margin: 0px 0px 0px -9px;
    }
  }

  .task-drop-down:hover {
    background-color: $list-nav-color;
  }
  .task-drop-down {
    position: absolute;
    background: white;
    top: 30px;
    left: 0px;
    border-radius: 3px;
    margin: 10px 17px;
    padding: 0px 3px 0px 5px;
    user-select: none;
    border: 1px solid $light-grey;
    font-size: 14px;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,0.2);

    p {
      padding: 8px 7px 8px 7px;
    }
  }
}


.task-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  background: white;
  border-top: 1px dotted $very-light-grey;
  border-bottom: 1px dotted $very-light-grey;

  transition: height 0.2s;

  .task-create {
    display: block;
    width: calc(100% - 34px - 8px);
    border: 1px solid $light-grey;
    border-radius: 3px;
    line-height: 30px;
    margin: 10px 17px;
    padding: 0px 0px 0px 8px;
    font-size: 14px;
  }

  .task-create:focus {
    outline: none;
    border-color: #2e8ceb;
  }
}

.task-util-bar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 32px;
  margin: 5px 17px;
  margin-top: 0px;

  input[type=submit]{
    float: right;
    background: #2881E8;
    padding-right: 14px;
    padding-left: 14px;
    height: 32px;
    border: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.08);
    border-radius: 3px;
    font-weight: bold;
    color: white;
    font-size: .875rem;
  }
}


.task-item:hover {
  background-color: $yellow;
}
.task-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px dotted #EEEEEE;
  cursor: pointer;
  font-size: .8125rem;

  .task-white-space {
    min-width: 13.3px;
    height: 100%;
  }

  .task-divider {
    background-color: #ccc;
    background-attachment: scroll;
    width: 3px;
    min-width: 3px;
    border-radius: 1px;
    margin: 1px 0px;
  }

  [class^="task-check-box-"] {
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: #ccc;

    .box-icon {
      padding: 7px 6px;
      font-size: 18px;
    }

    .done-icon {
      position: absolute;
      top: 5px;
      left: 7px;
      font-size: 19px;
      color: $dark-grey;
    }
  }

  .task-description.completed {
    color: #7e7e7e;
    text-decoration: line-through;
  }
  .task-description {
    padding: 9px 13px 9px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.selected-task {
  background-color: $yellow;
}
