$light-gray: #c1c1c1;
$grey: #99999C;

.task-list-details-section {
  position: relative;
  overflow: hidden;


  .hidden-task-details.task-details-section {
    right: calc(-52%);
  }
  .task-details-section {
    position: absolute;
    background: white;
    border-left: 2px solid $light-gray;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: calc(50% - 6px);
    height: 100%;
    z-index: 2;
    top: 0px;
    right: 0px;
    // right: -350px;
    margin-right: 9px;

    transition: right linear 0.3s ;


    .task-details {
      display: flex;
      flex-direction: column;
      margin: 21px 0px 21px 27px;

      .task-description:hover {
        border: 1px solid $light-gray;
      }
      .task-description:focus {
        outline: none;
        border: 1px solid #2e8ceb;
      }
      .task-description {
        border: 1px solid white;
        border-radius: 3px;
        font-size: 18px;
        margin: 14px 80px 14px 0px;
      }
    }

    .task-estimate, .task-completed {
      margin: 3px 0px 0px 0px;
    }

    .task-estimate-label, .task-complete-label {
      position: relative;
      font-size: 12px;
      color: $grey;
      margin: 0px 0px 0px 16px;
    }

    #task-completed, #task-estimate {
      position: absolute;
      left: 112px;
      cursor: pointer;
    }
    #task-estimate:focus {
      outline: none;
      border: 1px solid #2e8ceb;
    }
    #task-estimate:hover {
      border: 1px solid $light-gray;
    }
    #task-estimate {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
      padding: 1px 1px;
      border-radius: 0px;
      border: none;
      background: white;
    }
  }
}
